body {
    background-image: url(https://media.gettyimages.com/id/1289956604/pt/foto/digital-security-concept.jpg?s=612x612&w=gi&k=20&c=ZkYX4G-NSGp0wFpIhX1Hntyh6SYRurctKR-r2sDdjB8=);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background-color: orangered;
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    border: 5px solid black;
    font-family: sans-serif;
}

button {
    background-color:coral;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 140px;
    margin-left: 485px;
    cursor: pointer;
}

h2 {
    background-color: cornflowerblue;
    border: 2px solid black;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 60px;
}
